<div id="<%= dom_id procedure %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= procedure.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= procedure.amount %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this procedure", procedure, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this procedure', edit_procedure_path(procedure), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
