<!DOCTYPE html>
<html>
  <head>
    <title>PlanB App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags :defaults%>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in?%>
      <%= render "shared/navbar" %>
    <% end %>

    <% unless current_page?(new_user_registration_path) || current_page?(new_user_session_path) %>
      <%= render "shared/splash_page" %>
    <% end %>
    <%= yield %>
  </body>
</html>
